
.popular_tour-section {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
   
}

.popular_tour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popular_tour-header .popular_title {
    font-size: 24px;
    color: #1a1a1a;
}

.popular_tour-header a {
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
    text-decoration: none;
    opacity: 0.5;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}

.card img {
    min-width: 280px;
    min-height: 200px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    min-height: 150px; 
    object-fit: cover;
    display: block; 
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 16px;
    color: #1a1a1a;
    margin: 10px 0;
}

.card-content p {
    font-size: 12px;
    color: #757575;
    margin: 5px 0;
}

.card-content .rating {
    font-size: 12px;
    color: #757575;
    margin: 5px 0;
}

.card-content .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-top: 10px;
}

.card-content .details p {
    margin: 0;
}

.card-content .price {
    font-size: var(--font-size-sm);
    color: var(--text-color-primary);
}