.hero-section {
    position: relative;
    width: 100vw;
    height:702px;
    background-image: url('../../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: var(--text-color-secondary); 
    text-align: center;
    overflow: hidden;
}

.hero-title {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-lg);
}

.hero-description {
    font-size: var(--font-size-md); 
    margin-bottom: var(--spacing-lg); 
}