.banner {
    background-size: cover;
    background-position: center;
    height: 650px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-content {
    position: relative;
    z-index: 2;
    font-size: 30px;
    /* width: 100%; */
}


.banner-content .title {
    font-size: 100px;
}
.description-section {
    padding: 2rem;
    line-height: 1.6;
}


/* Dishes */
.card {
    min-height: 500px;
}

.card-img-top {
    height: 80% !important;
    object-fit: cover;
}

.card-text {
    max-height: 120px; /* Giới hạn chiều cao mô tả */
    overflow: hidden; /* Ẩn nội dung dư */
    text-overflow: ellipsis; /* Thêm "..." nếu vượt quá */
}

/* Event */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
}

.text-muted {
    font-size: 0.9rem;
    color: #6c757d;
}

.card-img-top {
    border-bottom: 3px solid #f8f9fa;
}

@media (max-width: 768px) {
    .card-text {
        font-size: 0.85rem;
    }
}

/* tour */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.text-muted {
    font-size: 0.9rem;
    color: #6c757d;
}

.text-success {
    font-size: 1rem;
    color: #28a745;
}

.card-img-top {
    border-bottom: 3px solid #f8f9fa;
    transition: transform 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

/* review */
.review-card {
    background-color: #fff;
    transition: box-shadow 0.2s ease;
}

.review-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-user {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.review-detail {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}

.text-warning {
    font-size: 0.9rem;
}

.small {
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .review-card {
        font-size: 0.9rem;
    }

    .review-user {
        font-size: 0.95rem;
    }

    .small {
        font-size: 0.75rem;
    }
}
