@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Great+Vibes&display=swap');

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    * {
        width: 100%;
        margin-top: 1vh;
        padding:2vh
    }
}
label input {
    width: 100%;
    border: 1px solid #5e5b5b;
    border-radius: 10px;
    box-sizing: border-box;
}
button#sign-in-button {
    background-color: #EB662B;
    color: white;
    border-radius: 10px;
    padding: 2% 0;
}
.sign-up-background {
    position: fixed;
    z-index: -2;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url('https://papers.co/wallpaper/papers.co-mx87-turkey-balloon-travel-mountain-29-wallpaper.jpg');
}
.sign-up-background .overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu overlay với độ trong suốt */
    pointer-events: none; /* Để overlay không ảnh hưởng đến tương tác chuột */
}
#success-box {
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4CAF50;
    font-size: large;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    img {
        width: 20%;
        height: 20%;
    }
}
#option-navigation a{
    color: white;
    cursor: pointer;
}
#home-button {
    top: 0;
    left: 0;
    position: absolute;
    filter:brightness(1.5);
    cursor: pointer;
}