.app-header .header-content {
    display: flex;
    font-family: var(--font-family);
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  
  .app-header .header-actions {
    display: flex;
    gap: var(--spacing-sm);
  }

.custom-menu-list .custom-menu-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.brand-logo {
    cursor: pointer;
}