.app-header .header-content {
    display: flex;
    font-family: var(--font-family);
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
  
.app-header .header-actions {
  display: flex;
  gap: var(--spacing-sm);
}

.custom-menu-list .custom-menu-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.brand-logo {
    cursor: pointer;
}

.account {
  position: relative;
  padding-right: 145px;
  cursor: pointer;
}

.user-avatar {
  font-size: 30px;
  color: #333;
  transition: color 0.3s ease;
}

.user-avatar:hover {
  color: var(--primary-color);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 5px;
  min-width: 150px;
  display: none;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.dropdown-menu ul li:hover {
  background-color: #f1f1f1;
}

.dropdown-menu ul li:active {
  background-color: #007BFF;
  color: #fff;
}
